<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/app.css">
    <title></title>
  </head>
  <body>
    <%- include('partials/header') %>
    <h1>Create New Pokemon!</h1>
  <div class="container-three">
  <form class="" action="/pokemon" method="post"> <br>
    <p><input type="text" name="name" placeholder="Pokemon Name"></p> <br>
    <p><input class="button" type="submit" value="Submit"></p> <br>

  </form>

  </div>
  <%- include('partials/footer') %>
  </body>
</html>
