<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/app.css">

    <title></title>
  </head>
  <body>
    <h1>Budgtr</h1>
    <div class="container">
    <table>

      <% for (let i = 0; i < budgets.length; i++) { %>
        <tr>
          <td><%= budgets[i].date %></td>
          <td><a href="/budgets/<%=i%>"><%= budgets[i].name %></a></td>
          <td><%= budgets[i].amount %></td>
        </tr>
      <% } %>
    </table>
    </div>
    <form action="/budgets/new">
      <input class="button" type="submit" value="Create New Budget" />
    </form>
    <!-- <a href="/budgets/new">Create New Budget</a> -->
  </body>
</html>
