<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/app.css">
    <title></title>
  </head>
  <body>
    <h1>New Budget</h1>
<div class="container">
<form class="" action="/budgets" method="post"> <br>
    <p><input type="date" name="date" ></p> <br>
    <p><input type="text" name="name" placeholder="Name"></p> <br>
    <p><input type="number" name="amount" placeholder="Amount"></p> <br>
    <p><input type="text" name="from" placeholder="From"></p> <br>
    <p><input type="text" name="tags" placeholder="Tags"></p> <br>
    <p><input class="button" type="submit" value="Submit"></p><br>
</form>
</div>

  </body>
</html>
